This is a simple file
This server we are using httpd port as {{httpd_port}}
{% if x < y %}
This is true for given condition
{% else %}
This is false for given condition
{% endif %}

{% for each in list %}
This is a {{each}}   {{httpd_port}}
The is without variables
{% endfor %}
